n8n-workflow.json
{
  "name": "Tour Virtual - Notificación de Leads",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tour-virtual-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-lead",
      "name": "Webhook Lead Recibido",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "leftValue": "={{ $json.body.rgpd_aceptado }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            },
            {
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validar-lead",
      "name": "Validar Lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.agente_email }}",
        "subject": "=🏠 Nuevo lead — {{ $json.body.piso_nombre }}",
        "emailType": "html",
        "message": "=<div style=\"font-family:sans-serif;max-width:600px\">\n  <h2>Nuevo lead cualificado</h2>\n  <p><strong>Nombre:</strong> {{ $json.body.nombre }}</p>\n  <p><strong>Email:</strong> {{ $json.body.email }}</p>\n  <p><strong>Teléfono:</strong> {{ $json.body.telefono || 'No indicado' }}</p>\n  <p><strong>Mensaje:</strong> {{ $json.body.mensaje || 'Sin mensaje' }}</p>\n  <p><strong>Estilo staging elegido:</strong> {{ $json.body.staging_elegido || 'Ninguno' }}</p>\n  <hr/>\n  <h3>Conversación con el chatbot</h3>\n  <pre style=\"background:#f5f5f5;padding:12px;border-radius:6px;font-size:12px\">{{ $json.body.chat_historial || 'Sin conversación registrada' }}</pre>\n  <p style=\"color:#999;font-size:11px\">Generado por Tour Virtual IA · {{ $now }}</p>\n</div>",
        "options": {}
      },
      "id": "email-agente",
      "name": "Email al Agente",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [700, 200],
      "credentials": { "smtp": { "id": "smtp-creds", "name": "SMTP" } }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.email }}",
        "subject": "=Tu solicitud de visita — {{ $json.body.piso_nombre }}",
        "emailType": "html",
        "message": "=<div style=\"font-family:sans-serif;max-width:600px\">\n  <h2>Hemos recibido tu solicitud, {{ $json.body.nombre }}</h2>\n  <p>El agente se pondrá en contacto contigo a la mayor brevedad.</p>\n  <div style=\"background:#f5f5f5;padding:16px;border-radius:8px;margin:16px 0\">\n    <p><strong>Inmueble:</strong> {{ $json.body.piso_nombre }}</p>\n    <p><strong>Agente:</strong> {{ $json.body.agente_nombre }}</p>\n    <p><strong>Teléfono:</strong> {{ $json.body.agente_telefono }}</p>\n  </div>\n  <p style=\"color:#999;font-size:11px\">Tus datos se conservarán un máximo de 12 meses.</p>\n</div>",
        "options": {}
      },
      "id": "email-comprador",
      "name": "Confirmación al Comprador",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [700, 360],
      "credentials": { "smtp": { "id": "smtp-creds", "name": "SMTP" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"mensaje\": \"Lead procesado correctamente\" }"
      },
      "id": "respuesta-ok",
      "name": "Respuesta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [940, 280]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={ \"ok\": false, \"error\": \"Lead inválido o sin RGPD\" }"
      },
      "id": "respuesta-error",
      "name": "Respuesta Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 500]
    }
  ],
  "connections": {
    "Webhook Lead Recibido": {
      "main": [[{ "node": "Validar Lead", "type": "main", "index": 0 }]]
    },
    "Validar Lead": {
      "main": [
        [
          { "node": "Email al Agente", "type": "main", "index": 0 },
          { "node": "Confirmación al Comprador", "type": "main", "index": 0 }
        ],
        [{ "node": "Respuesta Error", "type": "main", "index": 0 }]
      ]
    },
    "Email al Agente": {
      "main": [[{ "node": "Respuesta OK", "type": "main", "index": 0 }]]
    }
  }
}
